.wrapper {
    display: flex;
    justify-content: center;
}

.content {
    min-width: 768px;
    display: flex;
    flex-direction: column;
}

.toolbar-wrapper {
    height: 48px;
    display: flex;
    align-items: center;
    background-color: #F2F7FD;
    padding: 0 20px;
}

.editor-wrapper {
    margin-top: 20px;
    padding: 20px;
    background-color: #F8FAFA;
}